
#h01 {text-align: center;
       color: blue;}
#p01 { text-align:  right;
       color: blue;}

body {background-color: lightblue;}
.ul1 {list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;}

.li1 { float: left;}
.li1 a {display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}
.li1 a:hover {background-color:blue;}
#i1 { border-radius: 8px;
      display: block;
      margin: auto;
      width: 50%;
      padding-top: 10px;}
.b2 { font-style: oblique;
      font-family: "Helvetica";
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 25%;
      margin-left: 25%;}
#d5 { margin-top:25px;
     margin-bottom: 25px;
     margin-right: auto;
     margin-left: auto;}
.i2 {width:100%;
    margin-top:25px;
    margin-bottom: 25px;
    text-align:center;}
.li3 {width:600px;
      margin-top:35px;
      margin-bottom: 35px;
      margin-left: 20%;
      margin-right: 80%;
      align: center; }
.li5 {width:1600px;
     margin-top:-275px;
     margin-bottom: 310px;
     margin-left: 60%;
     margin-right: 40%;
     align: center;}
